INFORME_1/FOTOS/
INFORME_1/FOTOS_C/
INFORME_1/MODELOS/
INFORME_1/INFORME_1.aux
INFORME_1/INFORME_1.fdb_latexmk
INFORME_1/INFORME_1.fls
INFORME_1/INFORME_1.log
INFORME_1/INFORME_1.out
INFORME_1/INFORME_1.synctex.gz

INFORME_2/FOTOS/
INFORME_2/INFORME_2.aux
INFORME_2/INFORME_2.fdb_latexmk
INFORME_2/INFORME_2.fls
INFORME_2/INFORME_2.log
INFORME_2/INFORME_2.out
INFORME_2/INFORME_2.synctex.gz

FOTOS_MAX/
